html {
    border: solid black;
}

body {
    border: solid black;
    padding: 0px;
    margin: 0px;
    background-color: black;
    font-family: sans-serif;
    color: white;
}

#bannerdiv {
    border: solid black;
    height: 300px;
}

#bannerh3 {
    padding-top: 100px;
    margin-bottom: 0px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

#portfolioh2 {
    text-align: center;
}

.portfolioh3 {
    color: lightgrey;
    text-align: center;
}

.portfoliotext {
    color: lightgrey;
    text-align: center;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#contacth2 {
    text-align: center;
}

a {
    color: lightgrey;
    text-decoration: none;
}

a:hover {
    color: aqua;
    tet-decoration: underline;
}
